
	<%- include('./header.html') %>
	<div class="main-box">
		<div class="banner-box">
			<div class="banner">
				<img class="img" src="/public/img/index_1.jpg">		
			</div>
		</div>
		<div class="modular-box">
			<div class="modular1">
				<div class="title">
					<h2><span>公司简介</span></h2>
					<p>Company Profile</p>
				</div>
				<div class="box">
					<p>上海泽矽电子科技有限公司是一家以研发为核心，重视产品生产质量管理及提供优良服务的公司，专注于工业自动控制系统装置、汽车电子零部件、家用电器零部件以及信息系统集成产品的研发，产品生产及服务。</p>
					<p>公司研发团队成员均在国内外顶尖技术公司任职多年，曾为上汽，北汽，吉利，江淮等知名新能源汽车和格力、AO史密斯、美的等国内外家电一线品牌，长期提供电控配套系统的研发，产品生产及服务，在家用电器，汽车电子以及工业控制领域拥有深厚的积累及经验。</p>
				</div>
			</div>
			<div class="modular1">
				<div class="title">
					<h2><span>主营范围</span></h2>
					<p>Main business scope</p>
				</div>
				<div class="box">
					<p>电子产品研发设计，资深工程师为客户提供以电机控制，电源为核心的工业，民用和汽车领域的电子产品方案设计及产品定制服务。</p>
				</div>
			</div>
		</div>		
	</div>


	<%- include('./footer.html') %>