<!DOCTYPE html>
<html>
<head>
	<title>上海泽矽电子科技有限公司</title>
	<meta charset="UTF-8">
	<meta name="keywords" content="上海泽矽,电子科技">
	<meta name="description" content="138 1692 9242">
	<link rel="stylesheet" type="text/css" href="/public/css/init.css">
	<link rel="stylesheet" type="text/css" href="https://at.alicdn.com/t/font_1338355_m1vfhi9sjgf.css">
	<link rel="stylesheet" type="text/css" href="/public/css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="/public/css/index.css">
	<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=mox0DpCnZ8MpPeGWRzHHH8hUjTttsBXU"></script>
</head>
<body>
<div class="header-box">
	<div class="header">
		<a href="/" <% if(activeIndex == 1) { %> class="active" <% } %> ><img class="logo" src="/public/img/logo.png" alt=""></a>
		<a href="/" <% if(activeIndex == 1) { %> class="active" <% } %> >首页</a>
		<a href="/about" <% if(activeIndex == 2) { %> class="active" <% } %>>关于泽矽</a>
		<a href="/product" <% if(activeIndex == 3) { %> class="active" <% } %>>产品解决方案</a>
		<a href="/contact" <% if(activeIndex == 4) { %> class="active" <% } %>>联系我们</a>			
	</div>
</div>