	<%- include('./header.html') %>
	<div class="main-box">
		<div class="banner-box">
			<div class="banner">
				<img class="img" src="/public/img/index_1.jpg">		
			</div>
		</div>
		<div class="modular-box">
			<div class="modular1">
				<div class="title">
					<h2><span>泽矽电子电机控制方案介绍</span></h2>
				</div>
				<div class="box">
					<div class="product">
						<div class="left">
							<ul class="list">
								<li class="active">冰箱压缩机控制器</li>
								<li>工业风机</li>
								<li>波轮洗涤机</li>
								<li>园林工具</li>
								<li>无人机高速电机控制</li>
								<li>摄像头云台电机控制</li>
								<li>新能源汽车里的冷却泵</li>
								<li>汽车涡轮增压器的冷却泵</li>
								<li>家用&&商用空调外机控制系统</li>
								<li>手持高速吸尘器电机控制器</li>
								<li>高精度伺服关节控制</li>
								<li>汽车座椅加热系统鼓风机</li>
								<li>水泵</li>
								<li>场地车三轮车永磁同步电机控制器</li>
							</ul>
						</div>
						<div class="right">
							<div class="inner">
								<h1>冰箱压缩机控制器</h1>
								<div class="img-desc">
									<img src="/public/img/img1.jpg" alt="">
									<img src="/public/img/img2.jpg" alt="">
								</div>
								<h2>特点及优势</h2>
								<ul class="order-list">
									<li>功能:压缩机制冷，气泵电机驱动</li>
									<li>适用电机类型: PMSM,BLDC</li>
									<li>功率范围: 200W~800W</li>
									<li>额定电压:AC220V/AC380V（15%电压波动）</li>
									<li>控制方式: 无感FOC控制</li>
									<li>故障诊断：8种故障诊断及LED故障报警</li>
									<li>通讯方式: RS232串口通讯/PWM调速</li>
								</ul>
							</div>
							<div class="inner yk-hide">
								<h1>工业风机</h1>
								<div class="img-desc">
									<img src="/public/img/img3.jpg" alt="">
									<img src="/public/img/img4.jpg" alt="">
								</div>
								<h2>特点及优势</h2>
								<ul class="order-list">
									<li>功能:楼道鼓风机，抽油烟机</li>
									<li>适用电机类型: PMSM,BLDC</li>
									<li>功率范围: 500W~200W</li>
									<li>额定电压:AC220V/AC380V（15%电压波动）</li>
									<li>控制方式: 无感FOC控制</li>
									<li>通讯方式: RS232串口通讯</li>
								</ul>
							</div>
							<div class="inner yk-hide">
								<h1>波轮洗涤机</h1>
								<div class="img-desc">
									<img src="/public/img/img5.jpg" alt="">
									<img src="/public/img/img6.jpg" alt="">
								</div>
								<h2>特点及优势</h2>
								<ul class="order-list">
									<li>功能:洗涤机械里的核心驱动部件</li>
									<li>适用电机类型: PMSM,BLDC</li>
									<li>功率范围: 800W~620W</li>
									<li>额定电压:AC220V（15%电压波动）</li>
									<li>控制方式: 有感/无感FOC控制</li>
									<li>通讯方式: RS232串口通讯</li>
								</ul>
							</div>
							<div class="inner yk-hide">
								<h1>园林工具/h1>
								<div class="img-desc">
									<img src="/public/img/img7.jpg" alt="">
									<img src="/public/img/img8.jpg" alt="">
								</div>
								<h2>特点及优势</h2>
								<ul class="order-list">
									<li>功能:切割机，电动剪刀，打磨机，电镐</li>
									<li>适用电机类型: PMSM,BLDC</li>
									<li>功率范围: 200W~800W</li>
									<li>额定电压:DC18V~60V 锂电池包</li>
									<li>控制方式: 有感/无感方波控制</li>
									<li>通讯方式: PWM/ADC调速</li>
								</ul>
							</div>
							<div class="inner yk-hide">
								<h1>无人机高速电机控制</h1>
								<div class="img-desc">
									<img src="/public/img/img9.jpg" alt="">
									<img src="/public/img/img10.jpg" alt="">
								</div>
								<h2>特点及优势</h2>
								<ul class="order-list">
									<li>功能: 无人机螺旋桨电机控制器</li>
									<li>适用电机类型: BLDC/PMSM</li>
									<li>功率范围: 150W</li>
									<li>额定电压:DC6~28V</li>
									<li>控制方式: 无感FOC/无感方波控制</li>
									<li>最高转速：电转速15万转</li>
									<li>通讯方式: PPM通讯</li>
								</ul>
							</div>
							<div class="inner yk-hide">
								<h1>摄像头云台电机控制</h1>
								<div class="img-desc">
									<img src="/public/img/img11.jpg" alt="">
									<img src="/public/img/img12.jpg" alt="">
								</div>
								<h2>特点及优势</h2>
								<ul class="order-list">
									<li>功能:维持视频图像稳定捕捉</li>
									<li>适用电机类型: BLDC/PMSM</li>
									<li>功率范围: 30W</li>
									<li>额定电压:DC6~28V</li>
									<li>控制方式: 带位置编码器的三轴位置环FOC控制</li>
									<li>通讯方式: CAN通讯</li>
								</ul>
							</div>
							<div class="inner yk-hide">
								<h1>新能源汽车里的冷却泵</h1>
								<div class="img-desc">
									<img src="/public/img/img13.jpg" alt="">
									<img src="/public/img/img14.jpg" alt="">
								</div>
								<h2>特点及优势</h2>
								<ul class="order-list">
									<li>功能: 为新能源汽车里的关键零部件进行冷却（主驱电机和电池组）</li>
									<li>适用电机类型: PMSM,BLDC</li>
									<li>功率范围: 30W~150W</li>
									<li>额定电压:DC7~19V DC18~32V</li>
									<li>控制方式: 有感/无感FOC及方波控制</li>
									<li>通讯方式: LIN, PWM 通讯</li>
								</ul>
							</div>
							<div class="inner yk-hide">
								<h1>汽车涡轮增压器的冷却泵</h1>
								<div class="img-desc">
									<img src="/public/img/img15.jpg" alt="">
									<img src="/public/img/img16.jpg" alt="">
								</div>
								<h2>特点及优势</h2>
								<ul class="order-list">
									<li>功能: 为汽车里的涡轮增压器散热冷却提供水路循环</li>
									<li>适用电机类型: BLDC</li>
									<li>功率范围: 17W</li>
									<li>额定电压:DC7~19V</li>
									<li>控制方式: 单相BLDC控制</li>
									<li>通讯方式: LIN, PWM通讯</li>
								</ul>
							</div>
							<div class="inner yk-hide">
								<h1>家用&&商用空调外机控制系统</h1>
								<div class="img-desc">
									<img src="/public/img/img17.jpg" alt="">
									<img src="/public/img/img18.jpg" alt="">
								</div>
								<h2>特点及优势</h2>
								<ul class="order-list">
									<li>组件：PFC模块+压缩机控制模块+室外风机控制模块</li>
									<li>输入电压范围：230VAC 50HZ/60HZ</li>
									<li>最大功率范围：2.5KW/5KW</li>
									<li>PFC功率因子：0.99</li>
									<li>故障保护：短路，过流，过压，欠压</li>
								</ul>
							</div>
							<div class="inner yk-hide">
								<h1>家用&&手持高速吸尘器电机控制器</h1>
								<div class="img-desc">
									<img src="/public/img/img19.jpg" alt="">
									<img src="/public/img/img20.jpg" alt="">
								</div>
								<h2>特点及优势</h2>
								<ul class="order-list">
									<li>功能：高速吸尘</li>
									<li>控制方式：无感FOC/方波控制</li>
									<li>输入电压范围：18V/24V 锂电池组</li>
									<li>最大转速范围：15万电转速</li>
									<li>最大功率范围：600W</li>
									<li>板载效率：94%</li>
									<li>控制模式：恒风量控制</li>
								</ul>
							</div>
							<div class="inner yk-hide">
								<h1>高精度伺服关节控制</h1>
								<div class="img-desc">
									<img src="/public/img/img21.jpg" alt="">
									<img src="/public/img/img22.jpg" alt="">
								</div>
								<h2>特点及优势</h2>
								<ul class="order-list">
									<li>功能：卫星追踪三轴关节控制</li>
									<li>控制方式：三环位置速度FOC控制</li>
									<li>输入电压范围：24V DC</li>
									<li>转速控制范围：0.15RPM~200RPM</li>
									<li>位置控制精度范围：0.18度</li>
									<li>通讯控制方式：CAN通讯</li>
								</ul>
							</div>
							<div class="inner yk-hide">
								<h1>汽车座椅加热系统鼓风机</h1>
								<div class="img-desc">
									<img src="/public/img/img23.jpg" alt="">
								</div>
								<h2>特点及优势</h2>
								<ul class="order-list">
									<li>功能: 为加热系统提供热风动力</li>
									<li>适用电机类型: PMSM</li>
									<li>功率范围: 12W</li>
									<li>额定电压:DC7~19V</li>
									<li>控制方式:有感/无感FOC及方波控制</li>
									<li>通讯方式: PWM 通讯</li>
								</ul>
							</div>
							<div class="inner yk-hide">
								<h1>水泵</h1>
								<div class="img-desc">
									<img src="/public/img/img24.jpg" alt="">
								</div>
								<h2>特点及优势</h2>
								<ul class="order-list">
									<li>功能:工业水泵电机驱动，太阳能潜水泵驱动</li>
									<li>适用电机类型: PMSM,BLDC</li>
									<li>功率范围: 200W~800W</li>
									<li>额定电压:DC24V~160V</li>
									<li>控制方式: 无感FOC/方波控制</li>
									<li>通讯方式: PWM调速</li>
								</ul>
							</div>
							<div class="inner yk-hide">
								<h1>场地车三轮车永磁同步电机控制器</h1>
								<div class="img-desc">
									<img class="mini" src="/public/img/img25.png" alt="">
									<img class="mini" src="/public/img/img28.jpg" alt="">
									<img class="mini" src="/public/img/img26.png" alt="">
									<img class="mini" src="/public/img/img27.png" alt="">
								</div>
								<h2>特点及优势</h2>
								<ul class="order-list">
									<li>功能:工业水泵电机驱动，太阳能潜水泵驱动</li>
									<li>控制方式：高精度编码器FOC控制</li>
									<li>输入电压范围：60V/72V 电池组</li>
									<li>最大转速范围：40KM/H</li>
									<li>最大功率范围：7KW</li>
									<li>车载功能控制：转把力矩控制，前进倒车档控制，溜车助刹辅助</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>

	<%- include('./footer.html') %>
	<script type="text/javascript" src="/public/js/product.js"></script>